*{
    background: rgb(207, 245, 247);
}

body{
    background: rgb(207, 245, 247);
}

.title{
    background-image: url(./css-image-folder/siba.jpg);
    height: 60px;
    text-align: center;
    padding-top: 5px;
}

.h1{
    background-image: url(./css-image-folder/siba.jpg);
    color: rgb(239, 248, 215);
    font-size: 35px;
}

input{
    background-color: white;
}
.kara{
    margin-top: 10px;
}
.input-group-append{
    margin-top: 6px;
}

#send{
    background-color: rgb(206, 203, 203);
}
#send:hover{
    background-color: rgb(153, 152, 152);
}

.saku{
    background-color: rgb(199, 2, 2);
}

.card-body{
    border:solid 2px rgb(205, 247, 171);
}

#add_sc{
    margin: 5px;
}

.alert-info{
    border-color: rgb(44, 44, 248);
}
