<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>スケジュール一覧</title>
  
    <!-- bootstrapのcss -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- 追加のcss -->
    <link rel="stylesheet" href="../static/style.css">
  
    <script defer src="{{ url_for('static', filename='changeSchedule.js') }}"></script>
    <script src="https://kit.fontawesome.com/1632a6074b.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="title">
        <span class="h1">スケジュールの変更</span>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col m-3">
                <div class="card shadow-sm mb-3">
                    <div class="card-body">
                        <form id="search">
                            <input type="text" class="form-control" id="add_sc" placeholder="スケジュール">
                            <div class="input-group mb-3">
                                <input type="time" id="add_time" name="time" min="00:00" max="23:59">
                                <div>〜</div>
                                <input type="time" id="add_time2" name="time" min="00:00" max="23:59">
                                <input type="text" class="form-control" id="add_sc" placeholder="スケジュール">
                                <div class="input-group-append">
                                    <button id="send" class="btn btn-outline-secondary">追加</button>
                                    <button type="reset"  class="btn btn-secondary">リセット</button>

                                </div>
                            </div>
                        </form>
                        <div id="message-container" class="alert alert-info mt-3" role="alert" style="display: none;"></div>
                        <div id="error-container" class="alert alert-danger mt-3" role="alert" style="display: none;"></div>
                    </div>
                </div>
                <div id="sc-body">

                </div>
            </div>
        </div>
    </div>
</body>
</html>